@import "~ui/theme/config";

.header {
  background: linear-gradient(90deg, $blue, $purple);

  h1 {
    color: $white;
  }

  a {
    cursor: pointer;
  }

  section {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  button {
    top: 0.5rem;
    right: 0;
  }
}

.layout {
  position: relative;
  height: 100%;
}

.content {
  padding-top: 74px;
  height: 100%;
}
